.footer {
    &__content {
      border-top: 1px solid $color-stripe;
      padding: 16px;
      color: $text-color--gray;
      display: flex;
      flex-direction: column;
      row-gap: 16px;
      font-weight: 500;
      font-size: $font-size--p;
      z-index: 1;
      background-color: $color-bg;
  
      @media (min-width: $screen-mobile) {
        width: 100vw;
      }
  
      @media (min-width: $screen-tablet) {
        flex-direction: row;
        padding: 32px 24px 24px 24px;
        justify-content: center;
        column-gap: 36px;
      }
  
      @media (min-width: $screen-desktop) {
        justify-content: space-between;
        width: 1120px;
        padding: 32px 32px 20px 32px;
      }
    }
  
    &__copyright {
      text-align: center;
  
      @media (min-width: $screen-tablet) {
        text-align: left;
      }
    }
  
    &__privacy-policy {
      text-align: center;
      color: $text-color--gray;
    }
  
    &__info {
      text-align: center;
  
      @media (min-width: $screen-tablet) {
        text-align: right;
        width: 213px;
      }
  
      @media (min-width: $screen-desktop) {
        width: 330px;
      }
    }
  }