.menu-header {
    &__content {
      display: flex;
      gap: 16px;
      padding: 18px 24px 0 24px;
      align-items: center;
    }
  
    &__item {
      &:nth-child(2) {
        flex-grow: 1;
      }
  
      &:first-child {
        @media (min-width: $screen-desktop) {
          display: none;
        }
      }
    }
  }