.modal-fb {
    position: fixed;
    z-index: 3;

  
    &__container {
      background-color: $color-white;
      right: -1000px;
      position: fixed;
      transition: right 0.3s ease-out;
      overflow-y: scroll;
      -ms-overflow-style: none; 
      scrollbar-width: none;
  
      @media (max-width: $screen-mobile-modal) {
        width: 100%;
        height: 100vh;
      }

      @media(min-width:$screen-mobile){
        height: 100vh;
      }
  
      @media (min-width: $screen-tablet) {
        width: 440px;
        z-index: 3;
        border-left: 1px solid $color-stripe;
        box-shadow: -2px 0px 4px rgba(69, 79, 126, 0.02),
          16px 0px 52px rgba(14, 24, 80, 0.2);
      }
  
      &::-webkit-scrollbar {
        width: 0;
        height: 0;
      }
    }
  
    &__button {

      
      padding: 24px 0 0 16px;
  
      @media (min-width: $screen-tablet) {
        position: absolute;
        padding: 0;
        top: 32px;
        left: -70px;
      }
    }
  
    &__fieldset {
      border: none;
      padding: 24px 16px;
      display: flex;
      flex-direction: column;
      gap: 16px;
      width: 288px;
      margin-top: 40px;
  
      @media (min-width: $screen-tablet) {
        padding: 24px 32px;
        width: 440px;
      }
    }
  
    &__send {
      align-self: flex-end;
    }
  
    &__textarea {
      height: 118px;
      padding: 12px 16px;
      resize: none;
    }
  
    &__fog {
      transition: opacity 0.3s;
      opacity: 0;
    }
  
    &--open {
      .modal-fb__fog {
        @media (min-width: $screen-mobile) {
          position: fixed;
          width: 100vw;
          height: 100vh;
          z-index: -1;
          background-color: $color-white;
          opacity: 0.9;
          left: 0;
        }
      }
  
      .modal-fb__container {
        right: 0;
      }
    }
  }